version: '3'
services:
  zookeeper:
    image: wurstmeister/zookeeper
    container_name: txf-zookeeper
    ports:
      - "2181:2181"
    restart: unless-stopped

  kafka:
    image: wurstmeister/kafka
    container_name: txf-kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_ADVERTISED_HOST_NAME: localhost
      KAFKA_ADVERTISED_PORT: 9092
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_CREATE_TOPICS: "txf-tick:1:1,txf-bidask:1:1"
    volumes:
      - ./data/kafka:/kafka
    depends_on:
      - zookeeper
    restart: unless-stopped
